<xsdg@xsdg.org> <xsdg@google.com>
<colin.clark@cclark.uk> <cclark@mcb.net>
Colin Clark <colin.clark@cclark.uk>
<johne@verizon.net> John Ellis <gqview@users.sf.net>
<zas@norz.org> Laurent Monin <geeqie@norz.org>
<mschwendt@fedoraproject.org> <mschwendt@gmail.com>
<michal@cihar.com> <mcihar@suse.cz>
<michal@cihar.com> <nijel@debian.org>
<jrs+git@weitnahbei.de> <sixtyfive@users.noreply.github.com>
Morgan Hardwood <entertheyoni@gmail.com>
Rezső Páder <rezso@rezso.net>
Olaf Seibert <rhialto@falu.nl>
<niko@nava.de> <nikoss@users.noreply.github.com>
