<xsdg@xsdg.org> <xsdg@google.com>
<cclark@mcb.net> <colin.clark@cclark.uk>
Colin Clark <cclark@mcb.net>
<johne@verizon.net> John Ellis <gqview@users.sf.net>
<zas@norz.org> Laurent Monin <geeqie@norz.org>
<mschwendt@fedoraproject.org> <mschwendt@gmail.com>
<nijel@debian.org> <mcihar@suse.cz>
<jrs+git@weitnahbei.de> J. R. Schmid <sixtyfive@users.noreply.github.com>
