/* vim: set shiftwidth=8 softtabstop=0 cindent cinoptions={1s: */

/* common */
body {
	margin: 2em;
	padding: 0;
	color: #000;
	background-color: #eee;
	font-family: "Trebuchet MS", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
}

p.previous {
	text-align: left
}
p.navtop_title {
	text-align: center;
	font-weight:bold;
}
p.navbottom_title {
	text-align: center;
}

p.next {
	text-align: right
}

div.navtop {
	text-align: center
}

div.navbottom {
	text-align: center
}

h1 {
	margin-top: 1.3em;
	margin-bottom: 1.3em;
	color: #820303;
	background: #effefe
}

h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	color: #5A0202;
	background: #f6fefe
}

h3 {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	color: #270101;
	background: #f8fefe
}

hr#bottomseparator {
	margin-top: 6em;
}

div.bottomspacer {
	margin-bottom: 5em;
}
div.footer {
	text-align: right
}

/* menu descriptions */
dl.menu_desc {
	margin-left: 2em;
}
.menu_desc dt {
	font-weight: bold;
	padding-top: 0.3em
}
.menu_desc dd {}

/* dialog descriptions */
dl.dialog_desc {
	margin-left: 2em;
}
.dialog_desc dt {
	display: inline;
	padding-left: 0.1em;
	padding-right: 0.1em;
	font-weight: bold;
	margin-top: 0.3em;
	border: 1px solid white
}
.dialog_desc dd {}
.dialog_desc dd dl {
	font-size: 90%;
	margin-bottom: 1em;
}

thead {
	font-weight: bold;
}

.file_locations_subtitle {
	font-weight: bold
}

span.option_name {
	font-style: italic
}

p.note {
	font-style: italic
}
.note em {
	font-weight: bold
}

code {
	background: white
}

/* collections.html */
div.gq-collections-4 {text-align: center}

/* credits.html */
span.gq-credits-6 {font-family: Nimbus Roman No9 L}

/* faq.html */
pre.gq-faq-9 {margin-left: 1.58in}
span.gq-faq-5 {font-size: 120%}

/* image_management_copy_move.html */

/* image_management_delete.html */
span.gq-delete-7 {font-style: normal}

/* image_management_external_editing.html */

/* image_management.html */

/* image_management_rename.html */

/* image_presentation_fullscreen.html */
span.gq-fullscreen-10 {text-decoration: none}
div.gq-fullscreen-4 {text-align: center}
table.gq-fullscreen-3 {page-break-before: always}

/* image_presentation.html */

/* image_presentation_slideshow.html */
span.gq-slideshow-6 {text-decoration: none}

/* image_search_finding_duplicates.html */
div.gq-finding-duplicates-4 {text-align: center}

/* image_search.html */

/* image_search_search.html */
div.gq-search-4 {text-align: center}

/* index.html */
.menu ul {font-size: 110%; font-weight: bold; margin: 10px;}
.menu ul li {margin: 4px;}
.menu ul>ul {font-size: 90%; font-weight: normal}

/* introduction.html */
span.gq-introduction-6 {font-family: Nimbus Roman No9 L}

/* main_window_file_pane.html */

/* main_window_folder_pane.html */

/* main_window.html */

/* main_window_image_pane.html */
span.gq-image-pane-6 {text-decoration: none}

/* main_window_layout.html */

/* main_window_menus.html */
span.gq-menus-8 {text-decoration: none}

/* main_window_navigation.html */

/* main_window_status_bar.html */

/* options_advanced.html */
span.gq-advanced-13 {text-decoration: none}

/* options_editor_commands.html */

/* options_filtering.html */

/* options_general.html */
dd.gq-general-10 {margin-left: 0in; margin-bottom: 0.2in; text-decoration: none}
dd.gq-general-9 {margin-bottom: 0.2in}
dd.gq-general-7 {margin-bottom: 0.2in; text-decoration: none}
dd.gq-general-6 {margin-left: 0in; margin-bottom: 0.2in}

/* options_hidden.html */
pre.gq-hidden-6 {margin-left: 1.58in; margin-bottom: 0.2in}

/* options.html */

/* options_image.html */
dd.gq-image-12 {margin-bottom: 0.2in}
span.gq-image-8 {text-decoration: none}

/* options_window.html */

/* other_windows.html */

/* other_windows_image_properties.html */

/* other_windows_image_window.html */

/* printing.html */
span.gq-printing-8 {text-decoration: none}

/* reference_command_line.html */

/* reference.html */

/* reference_keyboard_shortcuts.html */
span.gq-keyboard-shortcuts-10 {text-decoration: none}
div.gq-keyboard-shortcuts-4 {text-align: center}
table.gq-keyboard-shortcuts-3 {page-break-before: always}

/* reference_management.html */
span.gq-management-9 {font-weight: medium}
span.gq-management-8 {font-style: normal}
div.gq-management-4 {text-align: center}

/* reference_thumbnails.html */

/* sidebars_exif.html */

/* sidebars.html */

/* sidebars_keywords.html */
span.gq-keywords-5 {font-weight: medium}

/* sidebars_sort_manager.html */
span.gq-sort-manager-8 {font-weight: medium}

/* template.html */
