body {
	background: white;
	font-size: 12pt;
}

div.navtop {
	display: none;
}
	
div.navbottom {
	display: none;
}

a:link, a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}

a:link:after, a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
  }

/*
a[href^="/"]:after {
	content: " (http://www.example.com" attr(href) ") ";
}
*/

h1 {
	background: white;
	border-bottom: 1px dotted gray;
}

h2 {
	background: white;
	border-bottom: 1px dotted gray;
}

h3 {
	background: white;
	border-bottom: 1px dotted gray;
}

.dialog_desc dt {
	border: 1px dotted gray;
}

