body {
	background: transparent;
	font-size: 12pt;
}

div.navtop {
	display: none;
}
	
div.navbottom {
	display: none;
}

a {
	color: black;
	background: transparent;
	text-decoration: underline;
}

a.bottomnote {
	text-decoration: none;
}

a.bottomnote:link:after, a.bottomnote:visited:after {
	text-decoration: none;
	content: "";
}

a:link:after, a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
}


/*
a[href^="/"]:after {
	content: " (http://www.example.com" attr(href) ") ";
}
*/

h1 {
	background: transparent;
	border-bottom: 1px dotted gray;
}

h2 {
	background: transparent;
	border-bottom: 1px dotted gray;
}

h3 {
	background: transparent;
	border-bottom: 1px dotted gray;
}

.dialog_desc dt {
	border: 1px dotted gray;
}

